<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183166726128-7skjolpi5i31jatn5jptff5vo7gcuvrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183166726128-7skjolpi5i31jatn5jptff5vo7gcuvrq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183166726128-2rtpeqc8239b044116ees7grgqntcibp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByd4P7Ap2_owwuJFMaUjk0dmSNImB9SJc</string>
	<key>GCM_SENDER_ID</key>
	<string>183166726128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssoft.ChargeLoma</string>
	<key>PROJECT_ID</key>
	<string>charge-loma-36fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>charge-loma-36fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183166726128:ios:8f0e4ed59b7960bc46b735</string>
</dict>
</plist>