<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.183166726128-7skjolpi5i31jatn5jptff5vo7gcuvrq</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1069977193741918</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1069977193741918</string>
	<key>FacebookClientToken</key>
	<string>571f951e68ba850b1ac109ac021711ac</string>
	<key>FacebookDisplayName</key>
	<string>ChargeLoma</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-SemiBold.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-Thin.ttf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app access user&apos;s camera to take photo for the User Reviews function. The photo will be used as part of user review within the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app access user&apos;s full photo library, or only photos that user select for the User Reviews function. The photo will be used as part of user review within the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app access user&apos;s full photo library, or only photos that user select for the User Reviews function. The photo will be used as part of user review within the app.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
